# Dependencies
node_modules/

# Build
dist/
dist-ssr/
*.tsbuildinfo
vite.config.js
vite.config.d.ts

# Tauri / Rust
src-tauri/target/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
